<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode" version="18.10.0" targetFramework="net452" />
  <package id="Bytescout.BarCode.Reader" version="10.2.0.1799" targetFramework="net452" />
  <package id="POSForDotNet.SDK" version="1.14.1" targetFramework="net452" />
</packages>